blockquote[id^=fn] {
    border-left: 0;
    padding: 0;
    color: inherit;
}

blockquote[id^=fn] sup {
    top: 0;
    font-size: larger;
}

/* indent free-standing URLs */
p > a:first-child {
    margin-left: 1em;
}
