blockquote[id^=fn] {
    border-left: 0;
    padding: 0;
    color: inherit;
}

blockquote[id^=fn] sup {
    top: 0;
    font-size: larger;
}

code {
    padding: 0 !important;
    background-color: inherit !important;
}

code:after, code:before {
    content: "" !important;
}
